<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../components/cpanel/head.ejs'); %>
    <title><%= name %> <%= isEdit? product.productName : '' %> | Admin Cpanel</title>
</head>
<body>
    <div class="wrapper">
        <%- include('../../components/cpanel/header.ejs'); %>
        <%- include('../../components/cpanel/sidebar.ejs'); %>
        <section class="main-body">
            <div class="main-body__container" id="form-body">
                <% if(isEdit) { %>
                    <div class="main-body__container__title">
                        <%= product.productName %>
                    </div>
                <% } %>
                <form action="#" id="<%= isEdit? 'edit-product' : 'create-product' %>" method="post" enctype="multipart/form-data">
                    <div class="main-body__container__panel">
                        <div class="split">
                            <% if(isEdit) { %>
                                <div class="form-group" style="display: none">
                                    <label>
                                        Product ID
                                    </label>
                                    <input type="text" name="product_id" class="product-id" value="<%= product._id %>" readonly>
                                </div>
                            <% } %>
                            <div class="form-group">
                                <label>
                                    Tên sản phẩm
                                </label>
                                <input type="text" name="title" class="product-name"  value="<%= isEdit? product.productName : '' %>" placeholder="Nhập vào tên sản phẩm" required>
                            </div>
                            <div class="form-group">
                                <label>
                                    Chi tiết sản phẩm
                                </label>
                                <ul class="product-details">
                                    <% if(isEdit) { 
                                        for(x in product.detail) { %>
                                            <li class="product-details-item" id="detail-<%= x %>">
                                                <input type="text" name="detail-title" class="product-details-item-title" value="<%= product.detail[x].title %>"  placeholder="Tiêu đề">
                                                <input type="text" name="detail-content" class="product-details-item-content" value="<%= product.detail[x].content %>"  placeholder="Nội dung">
                                                <a class="minus-button" onclick="RemoveDetail(<%= x %>)">-</a>
                                            </li>
                                    <% }
                                    } else { %>
                                        <li class="product-details-item" id="detail-1">
                                            <input type="text" name="detail-title" class="product-details-item-title" placeholder="Tiêu đề">
                                            <input type="text" name="detail-content" class="product-details-item-content" placeholder="Nội dung">
                                            <a class="minus-button" onclick="RemoveDetail(1)">-</a>
                                        </li>
                                    <% } %>
                                </ul>
                                <a class="plus-button">+</a>
                            </div>
                            <div class="form-group">
                                <label>
                                    Hình sản phẩm
                                </label>
                                <input type="file" name="product-image" class="product-image"  accept="image/gif, image/jpeg, image/png" multiple required>
                                <ul class="product-images">
                                    <% if(isEdit) { %>
                                        <% if(product.listImg.length > 0) { %>       
                                            <% for(x in product.listImg) { %>
                                                <li class="product-images-item" id="image-<%= x %>">
                                                    <img src="<%= product.listImg[x] %>">
                                                    <a title="Xoá ảnh này"><span class="delete-image-button" id="<%= x %>">X</span></a>
                                                </li>
                                            <% } %>
                                                <script>
                                                    $(".delete-image-button").on("click", function(){
                                                        let id = $(this).attr("id");
                                                    
                                                        $("#image-" + id).delay(200).fadeOut();
                                                    
                                                        setTimeout(function(){
                                                            $("#image-" + id).remove();
                                                        }, 1000);
                                                    
                                                        delete_image(id);
                                                    });
                                                </script>
                                        <% } %>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <div class="split">
                            <div class="form-group">
                                <label>
                                    Danh mục sản phẩm
                                </label>
                                <select name="category" class="product-category" required multiple>
                                    <% categories.forEach(function(category) {%>
                                        <option value="<%= category._id %>" <%= isEdit? (product.categoryID.includes(category._id) ? 'selected': '') : '' %>><%= category.categoryName %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    Thương hiệu sản phẩm
                                </label>
                                <select name="brand" class="product-brand" required>
                                    <% brands.forEach(function(brand) {%>
                                        <option value="<%= brand._id %>" <%= isEdit? (product.brand.includes(brand._id) ? 'selected': '') : '' %>><%= brand.brandName %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    Mô tả sản phẩm
                                </label>
                                <textarea name="description" class="product-description" cols="20" rows="5" placeholder="Nhập vào mô tả sản phẩm" required><%= isEdit? product.description : '' %></textarea>
                            </div>
                        </div>
                    </div>
                    <a class="submit-button" onclick="<% if(isEdit) { %>edit('<%= product._id %>')<% }else { %>add()<% } %>"><%= isEdit? 'Lưu Sản Phẩm' : 'Đăng Sản Phẩm' %></a>
                </form>
            </div>

            <% if(isEdit) { %>
                <div class="main-body__container" id="list-body">
                    <div class="main-body__container__action">
                        <div class="main-body__container__action--left">
                            <a class="create-item" onclick="action()">Tạo item</a>
                            <a class="uncheck-item">Bỏ chọn</a>
                        </div>
                        <div class="main-body__container__action--right">
                            <div class="sort">
                                <select class="sort__task">
                                    <option value="">Sắp xếp theo</option>
                                    <option value="price-desc">Giá [Cao - Thấp]</option>
                                    <option value="price-asc">Giá [Thấp - Cao]</option>
                                    <option value="quantity-desc">Số Lượng [Cao - Thấp]</option>
                                    <option value="quantity-asc">Số Lượng [Thấp - Cao]</option>
                                    <option value="date-desc">Mới nhất</option>
                                    <option value="date-asc">Cũ nhất</option>
                                </select>
                            </div>
                            <div class="action">
                                <select class="action__task">
                                    <option value="">Hành động</option>
                                    <option value="delete">Xoá</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <ul class="main-body__container__list">
                        <li class="main-body__container__item no-item">
                            Không có item sản phẩm nào để hiển thị ở đây cả!
                        </li>
                    </ul>
                    <div class="pagination">
                        <ul class="pagination__list">
                            <li class="pagination__item active" id="1">1</li>
                        </ul>
                        <select class="pagination__selection">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            <% } %>
        </section>

        <div class="modal">
            <div class="modal__container">
                <div class="modal__container__content">
                    <div class="modal-header">
                        <span class="modal-title">Tiêu đề</span>
                        <span class="modal-close">x</span>
                    </div>
                    <div class="modal-body">
                        Nội dung
                    </div>
                    <div class="modal-footer">
                        <span class="modal-button modal-button-close">Đóng</span>
                        <span class="modal-button modal-button-confirm">Xác nhận</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-background">
        </div>
    </div>
    <%- include('../../components/cpanel/js_footer.ejs'); %>
    <script src="/public/js/cpanel/ce-product.js"></script>
</body>
</html>