<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../components/cpanel/head.ejs'); %>
    <title><%= name %> | Admin Cpanel</title>
</head>
<body>
    <div class="wrapper">
        <%- include('../../components/cpanel/header.ejs'); %>
        <%- include('../../components/cpanel/sidebar.ejs'); %>
        <section class="main-body">
            <div class="main-body__container">
                <form action="#" id="create-product" method="post" enctype="multipart/form-data">
                    <div class="main-body__container__panel">
                        <div class="split">
                            <div class="form-group">
                                <label>
                                    Tên sản phẩm
                                </label>
                                <input type="text" name="title" class="product-name" placeholder="Nhập vào tên sản phẩm" required>
                            </div>
                            <div class="form-group">
                                <label>
                                    Chi tiết sản phẩm
                                </label>
                                <ul class="product-details">
                                    <li class="product-details-item" id="detail-1">
                                        <input type="text" name="detail-title" class="product-details-item-title" placeholder="Tiêu đề">
                                        <input type="text" name="detail-content" class="product-details-item-content" placeholder="Nội dung">
                                        <a href="#" class="minus-button" onclick="RemoveDetail(1)">-</a>
                                    </li>
                                </ul>
                                <a href="#" class="plus-button">+</a>
                            </div>
                            <div class="form-group">
                                <label>
                                    Hình sản phẩm
                                </label>
                                <input type="file" name="product-image" class="product-image"  accept="image/gif, image/jpeg, image/png" multiple required>
                            </div>
                        </div>
                        <div class="split">
                            <div class="form-group">
                                <label>
                                    Danh mục sản phẩm
                                </label>
                                <select name="category" class="product-category" required multiple>
                                    <% categories.forEach(function(category) {%>
                                        <option value="<%= category._id %>"><%= category.categoryName %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    Thương hiệu sản phẩm
                                </label>
                                <select name="brand" required class="product-brand" required>
                                    <% brands.forEach(function(brand) {%>
                                        <option value="<%= brand._id %>"><%= brand.brandName %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    Mô tả sản phẩm
                                </label>
                                <textarea name="description" class="product-description" cols="20" rows="2" placeholder="Nhập vào mô tả sản phẩm" required></textarea>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="submit-button" onclick="add()">Đăng Sản Phẩm</a>
                </form>
            </div>
        </section>

        <div class="modal">
            <div class="modal__container">
                <div class="modal__container__content">
                    <div class="modal-header">
                        <span class="modal-title">Tiêu đề thôi mà</span>
                        <span class="modal-close">x</span>
                    </div>
                    <div class="modal-body">
                        Tôi chỉ test thôi ấy mà!
                        Tôi chỉ test thôi ấy mà!
                        Tôi chỉ test thôi ấy mà!
                        Tôi chỉ test thôi ấy mà!
                    </div>
                    <div class="modal-footer">
                        <span class="modal-button modal-button-close">Đóng</span>
                        <span class="modal-button modal-button-confirm">Xác nhận</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-background">
        </div>
    </div>
    <%- include('../../components/cpanel/js_footer.ejs'); %>
    <script src="../../public/js/cpanel/product.js"></script>
</body>
</html>