<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../components/cpanel/head.ejs'); %>
    <title><%= name %> | Admin Cpanel</title>
</head>
<body>
    <div class="wrapper">
        <%- include('../../components/cpanel/header.ejs'); %>
        <%- include('../../components/cpanel/sidebar.ejs'); %>
        <section class="main-body">
            <div class="main-body__container">
                <form action="#" id="edit-profile" method="post" enctype="multipart/form-data">
                    <div class="main-body__container__panel">
                        <div class="split">
                            <div class="form-group">
                                <label>
                                    Avatar
                                </label>
                                <div class="avatar-profile">
                                    <span class="border-avatar">
                                        <img src="<%= (login_info.avatar)? login_info.avatar : '/public/upload/default-avatar.jpg' %>">
                                    </span>
                                </div>
                                <input type="file" name="avatar" class="edit-avatar" accept="image/gif, image/jpeg, image/png">
                            </div>
                        </div>
                        <div class="split">
                            <div class="form-group">
                                <label>
                                    Full Name
                                </label>
                                <input type="text" name="full-name" class="full-name" value="<%= login_info.fullName %>">
                            </div>
                            <div class="form-group">
                                <label>
                                    Email
                                </label>
                                <input type="text" name="email" class="email" value="<%= login_info.email %>">
                            </div>
                            <div class="form-group">
                                <label>
                                    Điện thoại
                                </label>
                                <input type="text" name="phone" class="phone" value="<%= login_info.phone %>">
                            </div>
                            <div class="form-group">
                                <label>
                                    Ngày sinh
                                </label>
                                <div class="birthday">
                                    <%
                                    let date = new Date();
                                    let day = date.getDate();
                                    let month = date.getMonth() +  1;
                                    let year = date.getFullYear();
                                    if(login_info.DOB){
                                        let dob = new Date(login_info.DOB);
                                        day = dob.getDate();
                                        month = dob.getMonth() + 1;
                                        year = dob.getFullYear();
                                    }
                                    
                                    %>
                                    <select name="day" class="day">
                                        <% for(x=1; x<=31; x++) { %>
                                            <option value="<%= x %>" <%= (x == day)? 'selected':'' %>><%= x %></option>
                                        <%} %>
                                    </select>
                                    <select name="month" class="month">
                                        <% for(x=1; x<=12; x++) { %>
                                            <option value="<%= x %>" <%= (x == month)? 'selected':'' %>>Tháng <%= x %></option>
                                        <%} %>
                                    </select>
                                    <select name="year" class="year">
                                        <% for(x=date.getFullYear()-100; x<=date.getFullYear(); x++) { %>
                                            <option value="<%= x %>" <%= (x == year)? 'selected':'' %>><%= x %></option>
                                        <%} %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    Giới tính
                                </label>
                                <select name="gender" class="gender" required>
                                    <option value="male" <%= (login_info.gender == "male")? 'selected' : ''  %>>Nam</option>
                                    <option value="female" <%= (login_info.gender == "female")? 'selected' : ''  %>>Nữ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class="submit-button" onclick="save()">Lưu thông tin</button>
                </form>
            </div>
        </section>

        <div class="modal">
            <div class="modal__container">
                <div class="modal__container__content">
                    <div class="modal-header">
                        <span class="modal-title">Tiêu đề</span>
                        <span class="modal-close">x</span>
                    </div>
                    <div class="modal-body">
                        Nội dung
                    </div>
                    <div class="modal-footer">
                        <span class="modal-button modal-button-close">Đóng</span>
                        <span class="modal-button modal-button-confirm">Xác nhận</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-background">
        </div>
    </div>
    <%- include('../../components/cpanel/js_footer.ejs'); %>
    <script src="/public/js/cpanel/user.js"></script>
</body>
</html>