<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../components/cpanel/head.ejs'); %>
    <title><%= name %> | Admin Cpanel</title>
</head>
<body>
    <div class="wrapper">
        <%- include('../../components/cpanel/header.ejs'); %>
        <%- include('../../components/cpanel/sidebar.ejs'); %>
        <section class="main-body">
            <div class="main-body__container">
                <div class="main-body__container__action">
                    <div class="main-body__container__action--left">
                    </div>
                    <div class="main-body__container__action--right">
                        <div class="sort">
                            <select class="sort__task">
                                <option value="">Sắp xếp theo</option>
                                <option value="date-desc">Mới nhất</option>
                                <option value="date-asc">Cũ nhất</option>
                                <option value="success-desc">ĐH thành công [Mới nhất]</option>
                                <option value="success-asc">ĐH thành công [Cũ nhất]</option>
                                <option value="pending-desc">ĐH đang chờ [Mới nhất]</option>
                                <option value="pending-asc">ĐH đang chờ [Cũ nhất]</option>
                                <option value="fail-desc">ĐH thất bại [Mới nhất]</option>
                                <option value="fail-asc">ĐH thất bại [Cũ nhất]</option>
                            </select>
                        </div>
                    </div>
                </div>
                <ul class="main-body__container__list">
                    <li class="main-body__container__item" id="item-1">
                        <input type="checkbox" class="checkbox-item" value="1">
                        <div class="body-item">
                            <a href="#" class="body-item__title">
                                iPhone 12 Pro Max
                            </a>
                            <div class="body-item__info">
                                Chân kinh haha
                            </div>
                        </div>
                        <div class="action-item">
                            <span class="action-item__delete">Xoá</span>
                            <span class="action-item__edit">Sửa</span>
                        </div>
                    </li>
                </ul>
                <div class="pagination">
                    <ul class="pagination__list">
                        <li class="pagination__item active" id="1">1</li>
                    </ul>
                    <select class="pagination__selection">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
        </section>

        <div class="modal">
            <div class="modal__container">
                <div class="modal__container__content">
                    <div class="modal-header">
                        <span class="modal-title">Tiêu đề</span>
                        <span class="modal-close">x</span>
                    </div>
                    <div class="modal-body">
                        Nội dung
                    </div>
                    <div class="modal-footer">
                        <span class="modal-button modal-button-close">Đóng</span>
                        <span class="modal-button modal-button-confirm">Xác nhận</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-background">
        </div>
    </div>
    <%- include('../../components/cpanel/js_footer.ejs'); %>
    <script src="/public/js/cpanel/order.js"></script>
</body>
</html>