<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thông tin của tôi | ShopProject</title>
  <link rel="stylesheet" href="/public/css/profile.css" />
  <%- include('../components/head'); %>
</head>
<body>
  <%- include('../components/header'); %>
  <% if(login_info) { %>
    <section class="container profile">
        <div class="sidebar">
            <div class="sidebar__avatar">
                <span class="avatar-image">
                    <img src="<%= (login_info.avatar)? login_info.avatar : '/public/upload/default-avatar.jpg' %>">
                </span>
                <span class="avatar-username">
                    <%= login_info.username %>
                </span>
            </div>
            <ul class="sidebar__list">
                <li class="sidebar__item  <%= (tab != 'address' && tab != 'password' && tab != 'order'? 'active':'') %>" id="profile">
                    <i class="fas fa-user"></i>
                    <span class="sidebar__item__text">Hồ sơ</span>
                </li>
                <li class="sidebar__item <%= (tab == 'address'? 'active':'') %>" id="address">
                    <i class="fas fa-address-book"></i>
                    <span class="sidebar__item__text">Địa chỉ</span>
                </li>
                <li class="sidebar__item <%= (tab == 'password'? 'active':'') %>" id="password">
                    <i class="fas fa-asterisk"></i>
                    <span class="sidebar__item__text">Đổi mật khẩu</span>
                </li>
                <li class="sidebar__item <%= (tab == 'order'? 'active':'') %>" id="order">
                    <i class="fas fa-history"></i>
                    <span class="sidebar__item__text">Lịch sử mua hàng</span>
                </li>
            </ul>
        </div>
    
        <div class="content">
            <form action="#" method="post" id="profile-form" enctype="multipart/form-data" style="<%= (tab != 'address' && tab != 'password' && tab != 'order'? '':'display: none') %>">
                <div class="content__title">Hồ sơ của tôi</div>
                <div class="content__split">
                    <div class="content__split-40">
                        <div class="form-group">
                            <div class="avatar-profile">
                                <span class="border-avatar">
                                    <img src="<%= (login_info.avatar)? login_info.avatar : '/public/upload/default-avatar.jpg' %>">
                                </span>
                            </div>
                            <span class="choose-avatar">Chọn Ảnh</span>
                            <input type="file" name="avatar" class="edit-avatar" accept="image/gif, image/jpeg, image/png" style="display: none;">
                        </div>
                    </div>
                    <div class="content__split-60">
                        <div class="form-group">
                            <span class="form-group__title">
                                Username
                            </span>
                            <span class="form-group__input">
                                <span class="username"><%= login_info.username %></span>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="form-group__title">
                                Họ Tên
                            </span>
                            <span class="form-group__input">
                                <input type="text" name="full-name" class="full-name" placeholder="Nhập vào họ tên" required value="<%= login_info.fullName %>">
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="form-group__title">
                                Email
                            </span>
                            <span class="form-group__input">
                                <input type="text" name="email" class="email" placeholder="Nhập vào email" required value="<%= login_info.email %>">
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="form-group__title">
                                Số Điện Thoại
                            </span>
                            <span class="form-group__input">
                                <input type="text" name="phone" class="phone" placeholder="Nhập vào số điện thoại" required value="<%= login_info.phone %>">
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="form-group__title">
                                Ngày Sinh
                            </span>
                            <span class="form-group__input">
                                <div class="birthday">
                                    <%
                                    let date = new Date();
                                    let day = date.getDate();
                                    let month = date.getMonth() +  1;
                                    let year = date.getFullYear();
                                    if(login_info){
                                        let dob = new Date(login_info.DOB);
                                        day = dob.getDate();
                                        month = dob.getMonth() + 1;
                                        year = dob.getFullYear();
                                    }
                                    
                                    %>
                                    <select name="day" class="day">
                                        <% for(x=1; x<=31; x++) { %>
                                            <option value="<%= x %>" <%= (x == day)? 'selected':'' %>><%= x %></option>
                                        <%} %>
                                    </select>
                                    <select name="month" class="month">
                                        <% for(x=1; x<=12; x++) { %>
                                            <option value="<%= x %>" <%= (x == month)? 'selected':'' %>>Tháng <%= x %></option>
                                        <%} %>
                                    </select>
                                    <select name="year" class="year">
                                        <% for(x=date.getFullYear()-100; x<=date.getFullYear(); x++) { %>
                                            <option value="<%= x %>" <%= (x == year)? 'selected':'' %>><%= x %></option>
                                        <%} %>
                                    </select>
                                </div>
                             </span>
                        </div>
                        <div class="form-group">
                            <span class="form-group__title">
                                Giới tính
                            </span>
                            <span class="form-group__input">
                                <select name="gender" class="gender">
                                    <option value="male" <%= (login_info.gender == "male")? 'selected' : ''  %>>Nam</option>
                                    <option value="female" <%= (login_info.gender == "female")? 'selected' : ''  %>>Nữ</option>
                                </select>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="form-group__title">
                            </span>
                            <span class="form-group__input form-group__button">
                                <button class="submit-button">Lưu</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
    
            <div id="address-form" style="<%= (tab == 'address'? '':'display: none') %>">
                <div class="content__title">
                    <div class="content__title--left">
                        Địa chỉ của tôi
                    </div>
                    <div class="content__title--right">
                        <span class="add-address">+ Thêm địa chỉ</span>
                    </div>
                </div>
                <div class="content__normal">
                    <form action="#" method="post" id="add-address" style="display: none;">
                        <div class="form-group">
                            <span class="form-group__title">
                                Địa chỉ
                            </span>
                            <span class="form-group__input">
                                <input type="text" class="new-address" placeholder="Nhập vào địa chỉ" required>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="form-group__title">
                            </span>
                            <span class="form-group__input form-group__button">
                                <button class="add-address-button">Lưu địa chỉ</button>
                            </span>
                        </div>
                    </form>
                    <form action="#" method="post" id="edit-address" style="display: none;">
                        <div class="form-group">
                            <span class="form-group__title">
                                Địa chỉ
                            </span>
                            <span class="form-group__input">
                                <input type="text" class="id-address" readonly style="display: none;">
                                <input type="text" class="old-address" placeholder="Nhập vào địa chỉ" required>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="form-group__title">
                            </span>
                            <span class="form-group__input form-group__button">
                                <button class="edit-address-button">Sửa địa chỉ</button>
                            </span>
                        </div>
                    </form>
                    <div class="address-list">
                        <% if(login_info.addressList.length > 0) { %>
                            <% for(x in login_info.addressList) { %>
                                <span class="address-item" id="address-<%= login_info.addressList[x]._id %>">
                                    <div class="address-item__content">
                                        <span class="text"><%= login_info.addressList[x].address %></span>
                                        <% if(login_info.addressList[x].active) { %>
                                            <span class="status">Địa chỉ mặc định</span>
                                        <% } %>
                                    </div>
                                    <div class="address-item__action">
                                        <div class="address-item__action--top">
                                            <span class="edit" id="<%= login_info.addressList[x]._id %>">Sửa</span>
                                            <span class="delete" id="<%= login_info.addressList[x]._id %>">Xoá</span>
                                        </div>
                                        <% if(!login_info.addressList[x].active) { %>
                                            <div class="address-item__action--bottom">
                                                <span class="set-default" id="<%= login_info.addressList[x]._id %>">Đặt làm địa chỉ mặc định</span>
                                            </div>
                                        <% } %>
                                    </div>
                                </span>
                            <% } %>
                            <script>
                                $(".address-item__action .edit").on("click", function(){
                                    $("#add-address").hide();
                                    $("#edit-address").slideDown();
                                    let id = $(this).attr("id");
                                    let address = $("#address-" + id + " .address-item__content .text").html();
                                    $(".id-address").val(id);
                                    $(".old-address").val(address);
                                });

                                $(".address-item__action .delete").on("click", function(){
                                    let id = $(this).attr("id");
                                    $.ajax({
                                        url: "/user/deleteAddress",
                                        type: "POST",
                                        data: {
                                            id: id
                                        }
                                    }).then((data)=>{
                                        if(data.status == 200){
                                            $("#address-" + id).slideUp();
                                            notification(".content", data.status, data.message);
                                        }else{
                                            notification(".content", data.status, data.message);
                                        }
                                    });
                                });

                                $(".address-item__action .set-default").on("click", function(){
                                    let id = $(this).attr("id");
                                    $.ajax({
                                        url: "/user/setDefaultAddress",
                                        type: "POST",
                                        data: {
                                            id: id
                                        }
                                    }).then((data)=>{
                                        if(data.status == 200){
                                            reloadAddress(data.data);
                                            notification(".content", data.status, data.message);
                                        }else{
                                            notification(".content", data.status, data.message);
                                        }
                                    });
                                });
                            </script>
                        <% } %>
                    </div>
                </div>
            </div>
    
            <form action="#" method="post" id="password-form" style="<%= (tab == 'password'? '':'display: none') %>">
                <div class="content__title">Đổi mật khẩu</div>
                <div class="content__normal">
                    <div class="form-group">
                        <span class="form-group__title">
                            Mật Khẩu Hiện Tại
                        </span>
                        <span class="form-group__input">
                            <input type="password" name="current-password" class="current-password" placeholder="Nhập vào mật khẩu hiện tại" required>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="form-group__title">
                            Mật Khẩu Mới
                        </span>
                        <span class="form-group__input">
                            <input type="password" name="new-password" class="new-password" placeholder="Nhập vào mật khẩu mới" required>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="form-group__title">
                            Xác Nhận Mật Khẩu Mới
                        </span>
                        <span class="form-group__input">
                            <input type="password" name="confirm-password" class="confirm-password" placeholder="Nhập vào mật khẩu xác minh" required>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="form-group__title">
                        </span>
                        <span class="form-group__input form-group__button">
                            <button class="password-button">Lưu</button>
                        </span>
                    </div>
                </div>
            </form>

            <div id="order-form"  style="<%= (tab == 'order'? '':'display: none') %>">
                <div class="content__title">
                    <div class="content__title--left">
                        Lịch Sử Mua Hàng
                    </div>
                    <div class="content__title--right">
                        <select class="action-filter">
                            <option value="all">Tất cả</option>
                            <option value="success">Thành công</option>
                            <option value="pending">Đang chờ</option>
                            <option value="fail">Thất bại</option>
                        </select>
                    </div>
                </div>
                <div class="content__order">
                    <ul class="order__list">
                        <li class="order__item__empty">
                            Không có đơn hàng nào hiển thị ở đây cả
                        </li>
                    </ul>
                    <div class="order__footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
  <% } %>

 <%- include('../components/footer'); %>
</body>
<%- include('../components/footer_js'); %>
<script src="/public/js/profile.js"></script>
</html>